/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* GRID */

* {
  box-sizing: border-box;
}

.gutter-top {
  margin-top: 2rem;
}
.gutter-bottom {
  margin-bottom: 2rem;
}

/* LAYOUT STYLES */
body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #2b3034;
  background: #fff;
  text-align: center;
}

a {
  color: #2196f3;
}

.white {
  color: #fff;
  fill: #fff;
}

strong {
  font-size: 1.2em;
}

.button {
  padding: 0.5rem 1rem;
  background: #2196f3;
  color: #fff;
  border-radius: 3px;
  text-decoration: underline;
}

.button.-white {
  color: #2196f3;
  background: #fff;
}

header {
  background: #4a2f26 url("../images/coding.jpg") 50% 50%;
  background-size: cover;
  padding: 6vw 1rem;
  color: #fff;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

header * {
  position: relative;
  z-index: 2;
}

h1 {
  font-family: 'Pacifico', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 10em;
  line-height: 1.2;
  letter-spacing: -1px;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5);
}

header h3 {
  font-family: 'Pacifico', 'Helvetica Neue', Helvetica, Arial, serif;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5);
  font-weight: 100;
}

h2 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 3.5em;
  letter-spacing: -1px;
  line-height: 1.2;
  font-weight: 300;
}

h3 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 2em;
  letter-spacing: -1px;
  line-height: 1.2;
  font-weight: 300;
}

footer,
section {
  padding: 3rem;
  position: relative;
}

footer {
  background: #111;
  color: #eee;
}

section h2 {
  margin-bottom: 2rem;
}

section h3 {
  margin-bottom: 0.5rem;
}

.text-left {
  text-align: left;
}

.section-blue {
  background: #2196f3;
  color: #fff;
}

.section-pink {
  background: #da087c;
  color: #fff;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
}

.grid-box {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  padding: 2rem;
}

.grid-50 {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

.column-50 {
  float: left;
  width: 50%;
}

.list li {
  padding: 2rem;
}

.list .separator {
  margin: 0 auto;
}

.separator {
  display: block;
  margin: 2rem auto;
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.25);
}

.inline-list li {
  display: inline-block;
  vertical-align: top;
  padding: 2rem;
}

.project-box {
  height: 100px;
}

.project-box p {
  margin-top: 0.5rem;
}

.project-box h3 {
  height: 50px;
}

.tag {
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 3px;
  display: inline-block;
  margin: 0.25rem 0.1rem;
}

.tag.-light {
  background: rgba(255, 255, 255, 0.2);
}

.avatar {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  width: 120px;
  height: 120px;
  display: inline-block;
  margin-bottom: 1rem;
}

.circle-image {
  width: 120px;
  height: 120px;
  padding: 1.25rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  overflow: visible;
  display: inline-block;
  margin-bottom: 1rem;
}

.image-left {
  width: 46px;
  height: 46px;
  float: left;
}

.image-left svg {
  /*fill: #333;*/
  margin-right: 1rem;
  position: relative;
  top: 5px;
}

.circle-image.-dark {
  background: rgba(0, 0, 0, 0.75);
}

.circle-image.-blue {
  background: #1a78c3;
}

.circle-image.-pink {
  background: #da087c;
}

.circle-image img,
.circle-image svg {
  width: 100%;
  height: 100%;
}

/* COMMON STYLES */

hr {
  height: 1px;
  padding-bottom: 1em;
  margin-top: 1em;
  line-height: 1px;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
  border: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* #Media Queries
================================================== */

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 1.5em;
  }

  section {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
  }

  section h2 {
    margin-bottom: 1.5rem;
  }

  img {
    max-width: 100%;
    height: auto !important;
  }

  .inline-list li {
    display: block;
    padding: 0.5em 0;
  }

  .list li {
    padding: 1rem;
  }

  .column-50 {
    display: block;
    float: none;
    width: auto;
    padding: 0.5rem 0;
  }

  .project-box h3 {
    height: auto;
  }

  .project-box img {
    max-height: 50px;
  }

  .grid-box {
    display: block;
    float: none;
    padding: 0.5rem 2rem;
    width: auto;
    margin-bottom: 2rem;
  }

  .grid-box svg {
    top: 0;
  }

  .grid-box .image-left {
    height: 36px;
  }

  .grid-box p {
    clear: left;
  }

  .circle-image, .avatar {
    width: 96px;
    height: 96px;
  }

}
